{% extends "learningLogApp/base.html" %}
{% block header %}
<h1>Assuntos</h1>
{% endblock header %}
{% block content %}
    <ul class="list-group">
    {% for assunto in assuntos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'learningLogApp:assunto' assunto.id %}">{{ assunto.texto }}</a>
            <span class="badge bg-primary rounded-pill">{{ assunto.entrada_set.all.count }}</span>
        </li>
    {% empty %}
        <li class="list-group-item">Nenhum assunto foi criado ainda.</li>
    {% endfor %}
    </ul>
    <h3><a href="{% url 'learningLogApp:novo_assunto' %}" class="btn btn-primary text">Adicionar assunto [ + ]</a></h3>
{% endblock content %}

