{% extends "learningLogApp/base.html" %}
<!-- Estende o template base, o que significa que este template herda toda a estrutura e blocos do template base.html. -->

{% block header %}
<!-- Define o conteúdo do bloco 'header' do template base, definindo o título da página como 'Assuntos'. -->
<h1>Assuntos</h1>
{% endblock header %}

{% block content %}
<!-- Define o conteúdo do bloco 'content' do template base. -->
    <ul class="list-group">
    <!-- Inicia uma lista que vai conter os assuntos, utilizando classes do Bootstrap para estilização. -->
    {% for assunto in assuntos %}
        <!-- Itera sobre a coleção de assuntos passada pelo contexto da view. -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <!-- Cria um item da lista para cada assunto, usando classes do Bootstrap para layout flexível. -->
            <a href="{% url 'learningLogApp:assunto' assunto.id %}">{{ assunto.texto|truncatechars:155 }}</a>
            <!-- Cria um link para a página de detalhes do assunto, truncando o texto do assunto para 155 caracteres se necessário. -->
            <span class="badge bg-primary rounded-pill">{{ assunto.entrada_set.all.count }}</span>
            <!-- Exibe um badge com o número total de entradas associadas a este assunto, utilizando classes do Bootstrap para estilização. -->
        </li>
    {% empty %}
        <!-- Caso não existam assuntos, exibe uma mensagem informativa. -->
        <li class="list-group-item">Nenhum assunto foi criado ainda.</li>
    {% endfor %}
    </ul>
    <h3><a href="{% url 'learningLogApp:novo_assunto' %}" class="btn btn-primary">Adicionar assunto [ + ]</a></h3>
    <!-- Fornece um link para adicionar um novo assunto, estilizado com o Bootstrap. -->
{% endblock content %}