<h1><a href="{% url 'learningLogApp:index' %}">Learning Log - App</a></h1>
<!-- menu -->

<ul>
    <li><a href="{% url 'learningLogApp:assuntos' %}">Assuntos</a></li>
    <!--<li><a href="#">Entradas</a></li>-->
</ul>
{% if user.is_authenticated %}
    Olá! Seja bem-vindo {{ user.username }}!
    <!-- form de requisiçao para logout, o django 5.0 nao aceita mais requisicoes GET para logout por medidas
    de segurança, por isso a adoção dessa prática de criar um formulário próprio para logout -->
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>    
{% else %}
    <a href="{% url 'users:login' %}">log in</a> -
    <a href="{% url 'users:registrar' %}">registrar</a> 
{% endif %}

{% block content %}{% endblock content %}