{% extends "learningLogApp/base.html" %}
{% load bootstrap3 %}
{% block header %}
<h2>Editar entrada</h2>
{% endblock header %}
{% block content %}
    <p>Assunto: <a href="{% url 'learningLogApp:assunto' assunto.id %}">{{ assunto }}</a></p>
    <p>Editar uma entrada registrada:</p>
    <form action="{% url 'learningLogApp:editar_entrada' entrada.id %}" method='post' class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Salvar mudanças</button>
        {% endbuttons %}
    </form>
{% endblock content %}